# Drill and Gerber files
**/*.gbr
**/*.gbrjob
**/*.drl

# direnv
**/.direnv

# Nix
**/result

# NPM
**/node_modules

# Ergogen
**/output

# Kicad
**/*_autosave*
**/fp-info-cache
**/*-backups
**/\~*
**/*.zip
