### Git Ignore list

# pre-commit hook config
.pre-commit-config.yaml

# direnv
**/.direnv

# Nix
**/result
**/result-*

# Ergogen
**/output
**/dist

# Kicad
**/*_autosave*
**/fp-info-cache
**/*-backups
**/\~*
**/*.zip

# Drill and Gerber files
**/*.gbr
**/*.gbrjob
**/*.drl
